<html>

  <head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111599032-1"></script>

<script>

    window.dataLayer = window.dataLayer || [];

    function gtag(){dataLayer.push(arguments);}

    gtag('js', new Date());



    gtag('config', 'UA-111599032-1');

</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ludimus - league 2019</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="./style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

	<section id="league">
		<section class="league__header">
			<div>
				<h2>Ludimus League 2019</h2>
			</div>
			<p class="centered-text">
				La Ludimus League 2019 è un torneo che si terrà nei mesi di <strong>gennaio, febbraio e marzo 2019</strong>.
			</p>
			<br>
			<p class="centered-text">
				Ci saranno <strong>15 appuntamenti</strong> tra Trento e Rovereto, nei quali potrete giocare ai giochi selezionati
				e concorrere ai nostri ambiti <strong>premi</strong>.
			</p>
			<br>
			<p class="centered-text">
				<a href="/league_rules.html"> <strong>Scopri i giochi selezionati ⇢</strong> </a>
			</p>
		</section>
		
		<section class="league__prizes">
			<div>
				<h4 class="centered-text">Premi</h4>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<p>Buono per partecipare gratuitamente a Modena Play 2019 + buono 10€ spendibile presso il Simposio Bar Ristorante</p>
						</div>
						<div class="col-md-4">
							<p>Tazza Ludimus + buono 10€ spendibile presso il Simposio Bar Ristorante</p>
						</div>
						<div class="col-md-4">
							<p>Buono 10€ spendibile presso il Simposio Bar Ristorante</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="centered-text">
								Tutti i partecipanti, esclusi i tre primi classificati, parteciperanno automaticamente alla <strong>lotteria di fine
									Ludimus League</strong> che assegnerà <strong>due magliette Ludimus</strong> magliette
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="league__ranking">
			<div class="centered-text">
				<h4>Classifica</h4>
			</div>
		
			<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="ranking">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Posizione</th>
          <th scope="col">Partecipante</th>
          <th scope="col">Partite registrate</th>
          <th scope="col">Jolly utilizzati</th>
          <th scope="col">Punteggio</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in items"
          :key="item.partecipant">
            <th scope="row" v-if="item.position === 1">🥇</th>
            <th scope="row" v-if="item.position === 2">🥈</th>
            <th scope="row" v-if="item.position === 3">🥉</th>
            <th scope="row" v-if="item.position > 3">{{ item.position }}°</th>
            <td>{{ item.name }} {{ item.lastname }}</td>
            <td>{{ item.registered_matches }}</td>
            <td>{{ item.used_jolly }}</td>
            <td>{{ item.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  new Vue({
    el: '#ranking',
    data: {
      items: [
        {
          position: 1,
          name: 'primo',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        },
        {
          position: 3,
          name: 'nome',
          lastname: 'cognome',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        },
        {
          position: 4,
          name: 'nome',
          lastname: 'cognome',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        },
        {
          position: 2,
          name: 'nome',
          lastname: 'cognome',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        },
        {
          position: 5,
          name: 'nome',
          lastname: 'cognome',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        },
        {
          position: 6,
          name: 'nome',
          lastname: 'cognome',
          registered_matches: '3',
          used_jolly: '1',
          points: 100
        }
      ]
    }
  })
</script>



		
		</section>
		
	</section>
	
	<footer>
    <div id="staff">
        <div class="cards-container">
            <div class="staff-image">
                <img src="../static/img/staff/tia.jpg" alt="Mattia Larentis">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ste.jpg" alt="Stefano Parmesan">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/rik.jpg" alt="Riccardo Longo">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/masno.jpg" alt="Davide Gadenz">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/war.png" alt="Alessio Guerrieri">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sofy.png" alt="Sofia Ruele">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/leo.jpg" alt="Leonardo Bertè">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sam.jpg" alt="Samantha Baita">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/tex.png" alt="Andrea Tessadri">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/pitt.jpg" alt="Michele Pittoni">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/marco.png" alt="Marco Magnani">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/lollo.jpg" alt="Lorenzo Imoscopi">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ema.png" alt="Emanuele Pulvirenti">
            </div>
        </div>
    </div>

    <a href="//www.iubenda.com/privacy-policy/89891405" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <p>Associazione "Ludimus ETS" &bull; CF: 96110070222 <a href='informative.html'>informative e Documentazioni</a></p>
</footer>
<script type="text/javascript" id="cookiebanner" data-fg="white" data-bg="#1b1b1b" data-link="#ec3645" data-moreinfo="//www.iubenda.com/privacy-policy/89891405"
        src="//cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.1/cookiebanner.min.js"></script>


  </body>

</html>