/* #ec3645 */

* {
    font-family: 'Open Sans', sans-serif;
}

.em {
    font-family: 'Pinyon Script', sans-serif;
}

a {
    color: #ec3645;
}

a:hover {
    color: #ec3645;
}

section {
    position: relative;
    color: #1b1b1b;
    padding: 3rem;
}

section:last-of-type {
    border-bottom: 0;
}

section small {
    font-family: 'Raleway', sans-serif;
    color: #ec3645;
    margin-bottom: -5px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-transform: uppercase;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    color: #1b1b1b;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    line-height: 70px;
}

.centered-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    section small {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 0;
    }
    section h2 {
        font-size: 1.9rem;
        line-height: 35px;
    }
    .centered-text {
        width: 90%;
    }
}

.go-back {
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    z-index: 1000;
}

/**********************************************************************************************************************/

/* INTRO */

/**********************************************************************************************************************/

#header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px dashed #ababab;
}

#header>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

#intro {
    position: relative;
    z-index: 1;
    width: 100%;
}

#intro i {
    font-size: 2rem;
    padding: 0 .5rem;
    color: #ababab;
}

#intro i:hover {
    color: #ec3645;
}

#go-down {
    position: absolute;
    color: #ec3645;
    font-weight: bold;
    bottom: 10px;
    left: calc(50% - 40px);
    font-size: 80px;
    width: 80px;
    text-align: center;
    animation: GoDown 1s linear infinite;
}

#go-down:hover {
    text-decoration: none;
}

@keyframes GoDown {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 10px;
    }
}

/**********************************************************************************************************************/

/* numbers */

/**********************************************************************************************************************/

#numbers h3 {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: -1rem;
}

#numbers p {
    font-size: 6em;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    margin-bottom: -1rem;
}

#numbers a {
    text-align: center;
    display: block;
}

@media (max-width: 621px) {
    #numbers a {
        margin-bottom: 2rem;
    }
}

/**********************************************************************************************************************/

/* SERATE */

/**********************************************************************************************************************/

#serate {
    text-align: center;
    border-bottom: 1px dashed #ababab;
}

#serate img {
    max-height: 350px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/**********************************************************************************************************************/

/* BLOG & GAMES */

/**********************************************************************************************************************/

#blog {
    border-bottom: 1px dashed #ababab;
}

#games .card {
    width: 228px;
    display: inline-block;
    margin: .2rem;
}

#blog .card {
    min-height: 350px;
}

#blog .cards-container, #games .cards-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#blog .cards-container {
    margin-bottom: .5rem;
}

#blog .cards-container .row>div {
    padding: 0 2.5px;
}

#games .badge-light {
    background: #fff;
}

#blog .cards-container h3, #games .cards-container h3 {
    margin: 0;
    font-size: 1rem;
}

#blog .cards-container h3 {
    margin-bottom: 1em;
    font-family: "Roboto Mono", monospace;
}

#blog .cards-container p, #games .cards-container p {
    font-size: .8rem;
}

#blog .cards-container p {
    margin-bottom: 0;
}

#games .cards-container p {
    margin: .2rem;
}

#blog .cards-container a, #games .cards-container a {
    font-size: 10px;
    float: right;
    margin-bottom: 5px;
}

#blog .cards-container img, #games .cards-container img {
    height: 114px;
    width: 100%;
    display: block;
}

#blog .blog-preview-footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#blog .blog-preview-footer img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    bottom: .8rem;
    right: .8rem;
}

#blog .blog-preview-footer .blog-preview-date {
    position: absolute;
    bottom: .8rem;
    left: .8rem;
}

#blog .card-block, #games .card-block {
    padding: .8rem;
}

#blog .blog-preview {
    color: #1b1b1b;
    text-align: left;
}

#blog .read-more {
    font-size: .8rem;
}

/**********************************************************************************************************************/

/* INSTAGRAM */

/**********************************************************************************************************************/

#instagram {
    padding: 0;
}

#instagram .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#instagram-photos {
    max-width: 2000px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    #instagram .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #instagram .grid__item:nth-child(1) {
        display: none;
    }
}

#instagram .grid__item {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
}

#instagram .grid__item .fa-instagram {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
}

#instagram .grid__item img {
    transform: scale(1);
    transition: transform 400ms ease-out;
}

#instagram .grid__item img {
    transform: scale(1.05);
}

#instagram .grid__item img:hover {
    transform: scale(1.15);
}

#instagram .grid__item:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

#instagram .grid__item:nth-child(2) {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

#instagram .grid__item:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}

#instagram .grid__item:nth-child(4) {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
}

#instagram .grid__item:nth-child(5) {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
}

#instagram .grid__item:nth-child(6) {
    grid-column: 8 / 9;
    grid-row: 3 / 4;
}

#instagram .grid__item:nth-child(7) {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
}

#instagram .grid__item:nth-child(8) {
    grid-column: 8 / 9;
    grid-row: 4 / 5;
}

#instagram .grid__item:nth-child(n+9) {
    display: none;
}

/**********************************************************************************************************************/

/* OUR GAMES */

/**********************************************************************************************************************/

.big-title {
    text-align: center;
}

.big-title small {
    margin-bottom: 18px;
}

.big-title h2 {
    font-size: 8rem;
}

.big-title h3 {
    text-transform: uppercase;
    font-size: 25px;
    color: #ababab;
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .big-title small {
        margin-bottom: 38px;
    }
    .big-title h2 {
        margin-bottom: 2rem;
    }
}

/**********************************************************************************************************************/

/* STAFF */

/**********************************************************************************************************************/

#staff {
    text-align: center;
}

#staff .cards-container {
    margin-bottom: 1rem;
}

#staff .staff-image {
    display: inline-block;
    padding: 0 .5rem;
}

#staff .staff-image img {
    border-radius: 100%;
    width: 50px;
    filter: grayscale(100%);
}

@media (max-width: 621px) {
    #staff .staff-image {
        margin-bottom: 1rem;
    }
}

/**********************************************************************************************************************/

/* JOIN */

/**********************************************************************************************************************/

#join ul {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    list-style: none;
    padding: 0;
}

#join img {
    height: 0.5rem;
    transform: rotate(15deg);
    margin-bottom: 3px;
    margin-right: 1px;
}

@media (max-width: 992px) {
    #join ul {
        width: 90%;
    }
}

/**********************************************************************************************************************/

/* FOOTER */

/**********************************************************************************************************************/

footer {
    background: #1b1b1b;
    color: white;
    padding: 1rem;
}

footer p {
    margin-bottom: 0;
    font-size: 10px;
    display: inline-block;
    float: right;
    height: 22px;
    line-height: 22px;
}

/**********************************************************************************************************************/

/* GAMES */

/**********************************************************************************************************************/

#games .card img {
    height: auto !important;
}

#games .card .list-group-item {
    padding-top: .3em !important;
    padding-bottom: .3em !important;
    font-size: .8em !important;
}

#games .cards-container {
    width: 1000px;
}

#games .card-columns {
    column-gap: .5rem;
    columns: 5;
}

#games .card {
    width: 100%;
}

@media (max-width: 1284px) {
    #games .cards-container {
        width: 750px;
    }
    #games .card-columns {
        columns: 4;
    }
}

@media (max-width: 886px) {
    #games .cards-container {
        width: 500px;
    }
    #games .card-columns {
        columns: 3;
    }
}

@media (max-width: 621px) {
    #games .cards-container {
        width: 250px;
    }
    #games .card-columns {
        columns: 1;
    }
}

/**********************************************************************************************************************/

/* BLOG POST */

/**********************************************************************************************************************/

.blog-post {
    padding: 3rem;
    line-height: 1.6;
    border-bottom: 1px dashed #ababab;
}

.blog-post img {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.center-img img {
    display: block;
    width: 30%;
    margin-bottom: 1em;
}

.blog-post h1 {
    font-weight: bold;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-size: 5em;
    line-height: .8em;
}

@media (max-width: 886px) {
    .blog-post h1 {
        font-size: 4em;
    }
}

@media (max-width: 621px) {
    .blog-post h1 {
        font-size: 2.5em;
        line-height: 1em;
    }
}

.blog-post h3 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
}

.blog-post h1, .blog-post h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

em.post-date {
    position: absolute;
    left: 16px;
    bottom: 25px;
    color: #ababab;
    font-size: .8rem;
}

.blog-post-writer {
    text-align: center;
    border-bottom: 1px dashed #ababab;
}

.blog-post-writer h5 {
    margin: 0;
}

.blog-post-writer__images {
    margin-bottom: 10px;
}

.blog-post-writer__images img {
    width: 100px;
    border-radius: 100%;
    filter: grayscale(100%);
}

.blog-post-writer__images img+img {
    margin-left: -25px;
}

.blog-post, .blog-post-writer {
    max-width: 60%;
    margin: 0 auto;
}

@media (max-width: 886px) {
    .blog-post, .blog-post-writer {
        max-width: 80%;
    }
}

@media (max-width: 621px) {
    .blog-post, .blog-post-writer {
        max-width: 100%;
    }
}

/**********************************************************************************************************************/

/* LEAGUE */

/**********************************************************************************************************************/

#league {
    margin: 0;
    padding: 0;
}

#league h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: center;
}

#league h5 {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #ababab;
    margin-bottom: 2rem;
    text-align: center;
}

#league li {
    margin-bottom: .75rem;
}

.league__header {
    border-bottom: 1px dashed #ababab;
}

.league__header button {
    border-radius: 0;
    font-weight: 900;
}

.league__ranking {
    border-bottom: 1px dashed #ababab;
    margin-bottom: 2rem;
}

.league__ranking table {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 886px) {
    .league__ranking table {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    #league h5 {
        font-size: 1.3rem;
        line-height: 25px;
    }
}

.league__prizes {
    border-bottom: 1px dashed #ababab;
}

.league__prizes h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
}

.league__prizes .card {
    border-radius: 0;
    border-style: dashed;
}

.league__prizes h3 {
    padding: 1rem;
    margin-top: 2rem;
}

#league .league__prizes .card h5 {
    color: #1b1b1b;
    font-weight: 600;
}

#league_games h4 {
    margin-bottom: 0;
}

.league__points hr {
    margin-bottom: 2rem;
    color: #ababab;
}

.league__points>img {
    height: 200px;
    margin: auto;
    margin-bottom: 1rem;
}

.league__points table.table-bordered {
    border: 1px solid #cecece;
}

.league__points table.table-bordered>thead>tr>th {
    border: 1px solid #cecece;
}

.league__points table.table-bordered>tbody>tr>td {
    border: 1px solid #cecece;
}

.league__points table.table-bordered>tbody>tr>th {
    border: 1px solid #cecece;
}

.league__rules {
    margin-bottom: 0 auto;
    border: #ababab dashed 1px;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 1rem;
    height: 1rem;
    background-color: darkgrey;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.league__slideshow .league-slide {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 3rem;
}

.league__slideshow .league-slide:nth-child(2) {
    border: 0;
}

.league__slideshow .league-slide>.logo-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.league__slideshow .league-slide h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.league-slide-logo {
    width: 60px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -30px;
    display: block;
    z-index: 1000;
}

.league-slide-hashtag {
    font-size: x-large;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}