<html>
<head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - Notte prima di Modena Play</title>

    <meta property="og:image" content="http://ludimus.it/static/img/og/play.png" />
    <meta property="og:image:secure_url" content="https://ludimus.it/static/img/og/play.png" />
    <meta property="og:image:type" content="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href=".././static/img/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href=".././static/img/favicon/favicon-16x16.png" sizes="16x16"/>
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section class="blog-post">
    <h1>Notte prima di Modena Play</h1>
    <h3>Rapido vademecum per non arrivare impreparati</h3>
    <div>
        <p>
            Pronti a partire? Zaino riempito, scelte le scarpe da indossare, panini pronti?<br>
            Se avete paura vi sia sfuggito qualcosa, non preoccupatevi, rimediamo subito. Se ritenete di non aver bisogno di ricapitolare… Ricredetevi, qualcosa lo avete dimenticato.<br>
            Che siate già venuti a Modena Play, che siate ancora novellini del boardgame, che non sappiate la differenza tra Reverendo Green e Parco della Vittoria, poco importa: noi non facciamo discriminazioni. Ecco qua dunque una piccola guida per non arrivare impreparati  per una giornata di fuoco a Modena.<br>
            <br>
            Partiamo dal principio.
        </p>
    </div>

    <div>
        <h3>Cosa indosserò?</h3>
        <img src="../static/img/blog/play/cosplay.jpg" alt="Play a Modena">
        <p>
            “Ma Sofia, vuoi persino dettarmi che mutande mettere?” Direte voi. <br>
            No carissimi, sono qui per evitare che i vostri piedi inizino a chiedere pietà dopo poche ore  di Modena Play. Come probabilmente saprete, quest’anno la fiera sarà composta da 3 padiglioni, più le sale ai piani superiori. Il tutto supererà i 22000 mq: sicuri di non avere bisogno di un buon paio di scarpe da ginnastica? <br>
            Vi consiglio anche di non vestirvi troppo pesanti: a un certo punto potrebbe fare caldino, soprattutto se c’è tanta gente.
        </p>
    </div>

    <div>
        <h3>Cosa metto nello zaino?</h3>
        <img src="../static/img/blog/play/zaino.jpg" alt="Play a Modena">
        <p>
            Ebbene, grande punto di domanda. <br>
            Una cosa che potrà sempre aiutarvi nei momenti di bisogno sarà una bottiglietta d’acqua, immancabile. <br>
            Se avete già contrattato con altri giocatori, sapete bene quali giochi portare per i vostri affari, ma soprattutto sapete anche quanto spazio deve rimanere libero nello zaino in attesa di essere riempito da acquisti o scambi. Vale per tutti: non riempite fino all’orlo dieci borse, mantenetevi leggeri. Questo vi sarà utile per eventuali (probabili) acquisti, ma soprattutto per potervi muovere senza un bagaglio da carovana. <br>
            Un altro elemento importante da procurarsi potrebbe essere la lista completa delle nuove uscite (potete trovarne una realizzata bene <a href="https://pinco11.blogspot.it/2018/04/la-lista-novita-elenco-play-uscite-2018.html" target="_blank">qua</a>)  così sarà più facile capire a cosa siete interessati e dove andare a cercarlo, per non vagare nel vuoto senza una meta precisa. <br>
            Ricordatevi poi di mettere le mani su una mappa, sempre utile, reperibile ovunque all’interno della fiera (è possibile scaricarla a questo <a href="https://www.play-modena.it/assets/Uploads/PLAY-2018-mappa-fiera-espositori.pdf" target="_blank">link</a>).
        </p>
    </div>

    <div>
        <h3>Sì, ok tutto, ma il cibo?</h3>
        <img src="../static/img/blog/play/cibo.jpg" alt="Play a Modena">
        <p>
            Ecco, il cibo.<br>
            Saprete probabilmente che nella fiera, fuori dai padiglioni, si trovano dei banchi che vendono dolci, tigelle e ogni genere di leccornia difficilmente trascurabile. Tuttavia, domate la gola! Soprattutto negli orari di punta saranno pressoché invivibili a causa  della ressa di giocatori affamati (state in guardia, e avvicinatevi a vostro rischio e pericolo). Per questo è consigliabile portare un pranzo al sacco, possibilmente leggero. Al di fuori dei padiglioni poi c’è uno spazio all’aria aperta in cui ci si può agevolmente sedere e gustare un attimo di pausa e, soprattutto, il proprio pranzo.<br>
            <br>
            Per finire, un consiglio spassionato: se siete consapevoli di non sapervi trattenere e di essere degli invasati del gioco da tavolo, allora per carità, datevi un budget: mi ringrazierete. Le tentazioni saranno tante, i desideri troppo sfrenati, ma cercate sempre di rimanere sulla retta via e di mantenere una giusta misura, per evitare che da tanto invasati diventiate… troppo invasati.<br>
            <br>
            Felice Modena Play 2018 a tutti!
        </p>
    </div>

</section>

<section class="blog-post-writer">
    <div class="blog-post-writer__images">
        <img src="../static/img/staff/sofy.png" alt="Sofia Ruele">
    </div>
    <h5>Sofia</h5>
</section>

{{ footer }}

</body>
</html>
