<html>
<head>
     

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ blog_post_title }}</title>

    <meta property="og:image" content="{{ blog_post_og }}" />
    <meta property="og:image:secure_url" content="{{ blog_post_og }}" />
    <meta property="og:image:type" content="image/jpg" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href=".././static/img/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href=".././static/img/favicon/favicon-16x16.png" sizes="16x16"/>
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section class="blog-post">
   {{ blog_post_body }}
</section>

<section class="blog-post-writer">
    <div class="blog-post-writer__images">
        <img src="../static/img/staff/{{ blog_post_author_img }}">
    </div>
    <h5>{{ blog_post_author }}</h5>
</section>

<section id="blog">
    <h2>Leggi anche</h4>
    <div class="blog-items">
        <div class="cards-container">
            <div class="row">
                {{ blog_post_read_more }}
            </div>
        </div>
    </div>
</section>

{{ footer }}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/static/js/blog.js"></script>

</body>
</html>
