    <!-- <div class="blog-post-writer__images"> -->
        <!-- <img src="../static/img/staff/{{ author_img }}"> -->
    <!-- </div> -->
<a href="/blog/{{ blog_url }}" class="blog-preview">
    <div class="card">
        <img class="card-img-top" src="{{ image_url }}?t=1">
        <div class="card-block">
            <h3 class="card-title">{{ title }}</h3>
            <p>{{ abstract }}</p>
        </div>
        <div class="blog-preview-footer">
            <span class="blog-preview-date">{{ date }}</span>
            <img src="../static/img/staff/{{ author_img }}">
        </div>
    </div>
</a>
