<footer>
    <div id="staff">
        <div class="cards-container">
            <div class="staff-image">
                <img src="../static/img/staff/tia.jpg" alt="Mattia Larentis">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ste.jpg" alt="Stefano Parmesan">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/rik.jpg" alt="Riccardo Longo">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/war.png" alt="Alessio Guerrieri">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sofi.jpg" alt="Sofia Ruele">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/leo.jpg" alt="Leonardo Bertè">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sam.jpg" alt="Samantha Baita">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/pitt.jpg" alt="Michele Pittoni">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/matteo.jpg" alt="Matteo Matassoni">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/lorenzo.jpg" alt="Lorenzo Imoscopi">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ema.png" alt="Emanuele Pulvirenti">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/fabio.jpg" alt="Fabio Panizza">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/chiara.jpg" alt="Chiara Spadafora">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/michele.jpg" alt="Michele Battagliola">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/davide.png" alt="Davide Andreoli">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sere.jpg" alt="Serena Benaglio">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/luigi.jpg" alt="Luigi Goldin">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/lucab.jpg" alt="Luca Bonora">
            </div>
        </div>
    </div>

    <a href="//www.iubenda.com/privacy-policy/89891405" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <p>Associazione "Ludimus" &bull; CF: 96110070222 &bull; P.IVA: 02683080226 <a href='informative.html'>informative e Documentazioni</a></p>
</footer>