<footer>
    <a href="//www.iubenda.com/privacy-policy/89891405" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <p>Associazione "Fuori Posto" &bull; CF: 94044310228</p>
</footer>
<script type="text/javascript" id="cookiebanner" data-fg="white" data-bg="#1b1b1b" data-link="#ec3645" data-moreinfo="//www.iubenda.com/privacy-policy/89891405"
        src="//cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.1/cookiebanner.min.js"></script>
