<footer>
    <div id="staff">
        <div class="cards-container">
            <div class="staff-image">
                <img src="../static/img/staff/tia.jpg" alt="Mattia Larentis">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ste.jpg" alt="Stefano Parmesan">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/rik.jpg" alt="Riccardo Longo">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/masno.jpg" alt="Davide Gadenz">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/war.png" alt="Alessio Guerrieri">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sofy.png" alt="Sofia Ruele">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/leo.jpg" alt="Leonardo Bertè">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/sam.jpg" alt="Samantha Baita">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/tex.png" alt="Andrea Tessadri">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/pitt.jpg" alt="Michele Pittoni">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/marco.png" alt="Marco Magnani">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/lollo.jpg" alt="Lorenzo Imoscopi">
            </div>

            <div class="staff-image">
                <img src="../static/img/staff/ema.png" alt="Emanuele Pulvirenti">
            </div>
        </div>
    </div>

    <a href="//www.iubenda.com/privacy-policy/89891405" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <p>Associazione "Ludimus ETS" &bull; CF: 96110070222 <a href='informative.html'>informative e Documentazioni</a></p>
</footer>
<script type="text/javascript" id="cookiebanner" data-fg="white" data-bg="#1b1b1b" data-link="#ec3645" data-moreinfo="//www.iubenda.com/privacy-policy/89891405"
        src="//cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.1/cookiebanner.min.js"></script>
