<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="rank">
  <div v-if="loading">
    <h3 class="centered-text" style="color: darkgrey;">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </h3>
  </div>
  <div v-else class="table-responsive">
    <table class="table table-hover" v-if="partecipants">
      <thead class="thead-light">
        <tr>
          <th scope="col">Posizione</th>
          <th scope="col">Partecipante</th>
          <th scope="col">Partite registrate</th>
          <th scope="col">Jolly utilizzati</th>
          <th scope="col">Punteggio</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="partecipant in partecipants" :key="partecipants.position">
          <th scope="row">{{ partecipant.position }}°</th>
          <td>
            {{ partecipant.name }} {{ getFirstLetter(partecipant.lastName) }}
          </td>
          <td>{{ partecipant.matches }}</td>
          <td>{{ partecipant.jolly }}</td>
          <td>{{ partecipant.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  var app = new Vue({
    el: "#rank",
    data: {
      partecipants: [],
      loading: true
    },
    mounted() {
      axios
        .get(
          "https://script.google.com/macros/s/AKfycby0Gq1G7Rzbl2-RRyMA6OOJIOcRfZShhI4rR7kZ5ktzSGk2xCBr/exec"
        )
        .then(response => {
          this.partecipants = response.data.partecipants;
        })
        .catch(error => {
          console.error(error);
        })
        .finally(() => (this.loading = false));
    },
    methods: {
      getFirstLetter(data) {
        letter = data.split('', 1)
        firstLetter = letter[0] + '.'
        return firstLetter
      }
    }
  })
</script>
