<html>

<head>
	{{ google_analytics }}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Eventi Ludimus</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
	<meta property="og:description" content="Scopri i prossimi eventi di Ludimus" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="../style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

</head>

<body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

	<section class="event">
		<h2>Eventi di Ludimus</h2>

		<h3>Prossimi eventi: </h3>
		
		<h6>MARZO 2022:</h6>
		<ul>
			<li><a href="/events/2022-03-03-serata-smartlab.html">03/03/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-03-07-serata-simposio.html">07/03/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-03-09-serata-cantiere26.html">09/03/2022 - Serata ad Arco presso il Cantiere26</a></li>
			<li><a href="/events/2022-03-10-serata-smartlab.html">10/03/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-03-14-serata-simposio.html">14/03/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-03-17-serata-smartlab.html">17/03/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-03-21-serata-simposio.html">21/03/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-03-23-serata-cantiere26.html">23/03/2022 - Serata ad Arco presso il Cantiere26</a></li>
			<li><a href="/events/2022-03-24-serata-smartlab.html">24/03/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-03-28-serata-simposio.html">28/03/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-03-31-serata-smartlab.html">31/03/2022 - Serata a Rovereto presso SmartLab</a></li>
		</ul>
	</section>

	{{ footer }}

</body>

</html>