<html>

<head>
	 

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Eventi Ludimus</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
	<meta property="og:description" content="Scopri i prossimi eventi di Ludimus" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="../style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

</head>

<body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

	
	<section class="event">
		<h2>Eventi di Ludimus</h2>

		<h3>Prossimi eventi: </h3>

		<h6>MAGGIO 2022:</h6>
		<ul>
			<li><a href="/events/2022-05-30-serata-simposio.html">30/05/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-05-31-serata-cantiere26.html">31/05/2022 - Serata ad Arco presso il Cantiere26</a></li>
		</ul>
		
		<h6>GIUGNO 2022:</h6>
		<ul>
			<li><a href="/events/2022-06-06-serata-simposio.html">06/06/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-06-09-serata-smartlab.html">09/06/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-06-13-serata-simposio.html">13/06/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-06-16-serata-smartlab.html">16/06/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-06-20-serata-simposio.html">20/06/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-06-23-serata-smartlab.html">23/06/2022 - Serata a Rovereto presso SmartLab</a></li>
			<li><a href="/events/2022-06-27-serata-simposio.html">27/06/2022 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
			<li><a href="/events/2022-06-30-serata-smartlab.html">30/06/2022 - Serata a Rovereto presso SmartLab</a></li>
		</ul>
	</section>

	{{ footer }}

</body>

</html>