<html>

  <head>
	{{ google_analytics }}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Eventi Ludimus</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
	<meta property="og:description" content="Scopri i prossimi eventi di Ludimus" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="../style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <section class="event">
        <h2>Eventi di Ludimus</h2>

        <h3>Prossimi eventi: </h3>

        <ul>
            <li><a href="/events/2020-09-24-serata-smartlab.html">24/09/2020 - Serata a Rovereto presso SmartLab</a></li>
            <li><a href="/events/2020-10-05-serata-simposio.html">05/10/2020 - Serata a Trento presso il Simposio Bar Ristorante</a></li>
		</ul>
		
		<h3>Eventi passati: </h3>

        <ul>
			<li><a href="/events/2020-09-10-serata-smartlab.html">10/09/2020 - Serata a Rovereto presso SmartLab</a></li>
            <li><a href="/events/2020-08-27-serata-smartlab.html">27/08/2020 - Serata a Rovereto presso SmartLab</a></li>
        </ul>
    </section>
	
	{{ footer }}

  </body>

</html>
