<html>
<head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - games</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section id="games">
    <div class="big-title">
        <h2><small>i nostri</small> {{ number_of_games }}</h2>
        <h3>giochi da tavolo</h3>
    </div>

    <p class="centered-text">
        Questi sono i giochi di proprietà dell'associazione e sono disponibili in prestito da tutti i soci! Consulta il nostro <a href="https://t.me/ludimusbot"> bot telegram </a> per controllare le disponibilità in tempo reale.
    </p>
    <br>

    <div class="cards-container">
        <div class="card-columns">
            {{ games }}
        </div>
    </div>
</section>

{{ footer }}

</body>
</html>
