<html>

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - GAS</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:title" content="Ludimus | Gruppi d'Acquisto Solidale" />
    <meta property="og:description" content="Partecipa ai gruppi d'acquisto solidale" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>

<body>

    <a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <div id="gas">
        <h2>Gruppi d'acquisto solidale</h2>

        <div class="centered-text">
            <p>I soci attivi (coloro cioè che hanno regolarizzato la quota per l'anno associativo in corso) possono
                partecipare ai gruppi d'acquisto solidale (GAS) organizzati da Ludimus.</p>
        </div>
        <p>
            Attraverso un <a href="https://forms.gle/zLrcitfa9JXk13vF9">form</a> dedicato, l'associazione raccoglie
            le richieste dei giochi che i soci vorrebbero
            acquistare, dopodiché provvede a cercare la disponibilità tra i fornitori convenzionati, organizzando
            ordini
            collettivi che permettono di risparmiare sulle spese di spedizione, oltre che di sfruttare sconti
            speciali
            riservati all'associazione.
        </p>
        <p>
            I nostri fornitori di fiducia sono:
        <ul>
            <li><a href="https://libreriailpapiro.it/">Libreria Il Papiro</a> (sconto a noi riservato 25%)</li>
            <li><a href="https://fantasiastore.it/it/">Fantasiastore</a> (sconto a noi riservato 20%)</li>
            <li><a href="https://www.dungeondice.it/">Dungeondice</a> (sconto 15%)</li>
            <li><a href="https://www.philibertnet.com/en/">Philibert</a> (sconto 10%)</li>
        </ul>
        </p>
        <p>
            Una volta che i partecipanti hanno pagato la propria quota, l'associazione procede con l'ordine
            facendosi
            spedire in sede gli articoli, che poi possono essere ritirati dai soci durante le serate.
        </p>

        <h3>
            FORM GRUPPI D'ACQUISTO LUDIMUS 2023/2024 => <a href="https://forms.gle/zLrcitfa9JXk13vF9">link</a>
        </h3>
        <p>
            Nell'anno associativo 2023/2024 faremo 4 gruppi acquisto. Gli ordini saranno raccolti nelle seguenti
            date:
        </p>
        <ul>
            <li>dal 26 settembre 2023 al 1 ottobre 2023</li>
            <li>dal 27 novembre 2023 al 3 dicembre 2023</li>
            <li>dal 26 febbraio 2024 al 3 marzo 2024</li>
            <li>dal 20 maggio 2024 al 26 maggio 2024</li>
        </ul>
        <p>
            Se sei tesserato riceverai una email contenente il link al form quando saranno aperte le
            raccolte degli ordini.
        </p>
    </div>

    {{ footer }}

</body>

</html>