<html>
<head>
    {{ google_analytics }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>
    <section id="header">
        <div id="intro">
            <h1 style="display: none;">ludimus</h1>
            <img src="../static/img/logo.svg" alt="ludimus">
            <p>Eventi ludici <strong>gratuiti</strong>. In <strong>Trentino</strong>.</p>

            <a href="https://www.facebook.com/pg/ludimusTN/" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/ludimustrento/" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="https://t.me/ludimus" target="_blank"><i class="fa fa-fw fa-paper-plane"></i></a>
            <a href="mailto:ludimustrento@gmail.com"><i class="fa fa-fw fa-envelope"></i></a>
        </div>

        <a id="go-down" href="#numbers">⌄</a>
    </section>

    <section id="numbers">
        <div class="row">
            <div class="col">
                <h3>ISCRITTI</h3>
                <p>100+</p>
                <a href="#join">Manchi solo tu ⇢</a>
            </div>
            <div class="col">
                <h3>GIOCHI</h3>
                <p>{{ number_of_games }}</p>
                <a href="/games.html">Curiosa pure ⇢</a>
            </div>
            <div class="col">
                <h3>EVENTI</h3>
                <p>100+</p>
                <a href="https://www.facebook.com/ludimusTN/events" target="_blank">Dove trovarci ⇢</a>
            </div>
        </div>
    </section>

    <section id="instagram">
        <div id="instagram-photos" class="grid"></div>
    </section>

    <section id="blog">
        <h2><small>leggi il nostro</small>ludiblog</h2>

        <div class="blog-items">
            <div class="cards-container">
                <div class="row">
                    {{ blog_post }} 
                </div>
            </div>
        </div>
        <div class="text-center read-more"> 
            <a href="javascript:showBlogPosts();">Carica altri post ⇢</a>
        </div>
    </section>

    <section id="serate">
        <h2><small>scopri</small>dove trovarci</h2>

        <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-2">
                <img src="../static/img/hp/trento.png" alt="Ludimus Trento" />
                Ogni <strong>lunedì</strong>, a <strong>Trento</strong> presso <a href="https://www.facebook.com/Il-Simposio-Bar-Ristorante-162813970411602" target="_blank">il Simposio</a>.
                <br>
                <a href="https://goo.gl/maps/MyHyLKRdzQs" target="_blank">Come arrivare ⇢</a>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="../static/img/hp/rovereto.png" alt="Ludimus Rovereto" />
                Ogni <strong>giovedì</strong>, a <strong>Rovereto</strong> presso <a href="https://www.facebook.com/smartlabrovereto/" target="_blank">Smart Lab</a>.
                <br>
                <a href="https://goo.gl/maps/12R3EDBMK1G2" target="_blank">Come arrivare ⇢</a>

            </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <h3>Biblioteca Comunale di Trento</h3>
                Dalle 14:30 alle 18:00 di sabato pomeriggio in <a href="https://www.facebook.com/bibliotecacomunaleditrento/" target="_blank">Sala Manzoni</a> 
                <br>
                <br>
                <a href="https://g.page/BibliotecaViaRoma?share" target="_blank">Come arrivare ⇢</a>
            </div>
        </div>
    </section>

    <section id="join">
        <h2><small>come aiutarci</small> tesseramento</h2>

        <ul>
            <li><img src="../static/img/meeple.svg" /> Prendere in prestito i <a href="/games.html">giochi dell’associazione</a></li>
            <li><img src="../static/img/meeple.svg" /> Grandi sconti al Simposio e in SmartLab!</li>
            <li><img src="../static/img/meeple.svg" /> Gruppi d'acquisto solidale per ammortizzare i costi di spedizione</li>
            <li><img src="../static/img/meeple.svg" /> Partecipare a eventi esclusivi</li>
            <li><img src="../static/img/meeple.svg" /> Partecipare alla <a href="/league.html">Ludimus League</a></li>
        </ul>

        <p class="text-center">
            La quota d’iscrizione è di 7 euro. Interessato/a?<br>
            <a href="mailto:ludimustrento@gmail.com">Contattaci ⇢</a>
        </p>
    </section>

    {{ footer }}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="/static/js/blog.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL3E8pZkDlbq5DTC7on1R3dlQF9iL1n30&callback=initMap"></script>
    <script src="/static/js/instafeed.min.js"></script>
    <script>
        var rendered = 0,
            feedBig = new Instafeed({
            accessToken: '6431223467.1677ed0.497a3fb534224faabb7630d4f0bc6e93',
            clientId: 'f22d3e48a2c74c5ca51de31e6a499f19',
            get: 'user',
            userId: 6431223467,
            target: 'instagram-photos',
            sortBy: 'most-recent',
            limit: 20,
            resolution: 'standard_resolution',
            filter: function (image) {
                if (image.tags.length === 0) {
                    return false;
                }
            
                return image.tags.indexOf('ludimusleague') < 0;
            },
            template: '<div class="grid__item">' +
            '    <div class="content">' +
            '        <div class="content-inside">' +
            '            <a href="{{link}}" target="_blank">' +
            '                <img class="card-img-top" src="{{image}}" />' +
            '                <i class="fa fa-instagram"></i>' +
            '            </a>'+
            '        </div>' +
            '    </div>' +
            '</div>'
        });
        feedBig.run();
    </script>

</body>
</html>
