<html>
<head>
     

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - informative</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section id="legal">
    <div>
        <h2>Informative</h2>
    </div>

    <p class="centered-text">
        In questa pagina potete trovare informative, documentazioni e regolamenti interni dell'associazione, di libero accesso a tutti.
        <ul>
            <li> <a href="static/docs/AttoCostitutivo.pdf"> Atto Costitutivo</a></li>
            <li> <a href="static/docs/Statuto.pdf"> Statuto</a></li>
            <li> <a href="static/docs/Privacy.pdf"> Informativa Privacy</a></li>
        </ul>
    </p>
    <br>
    <h3>Convocazioni</h3>
    <ul>
        <li><a href="/static/docs/convocazioni/2023/2023-12-27 - Convocazione-Assemblea-Dicembre-2023.pdf?q=1">Convocazione Assemblea Dicembre 2023</a></li>
    </ul>
    <br>
    <h3>Moduli soci</h3>
    <ul>
        <li><a href="https://forms.gle/yr9JnNM8w9QNeH8N8">Modulo variazione consensi e contatti</a></li>
    </ul>
    <br>
    <h3>Regolamenti Tornei Ludicamp</h3>
    <ul>
        <li><a href="/static/docs/ludicamp/2024-05-04-05/Regolamento-Torneo-Heat.pdf?q=0">Regolamento Torneo Heat 04/05/2024</a></li>
        <li><a href="/static/docs/ludicamp/2024-05-04-05/Regolamento-Torneo-Challengers.pdf?q=0">Regolamento Torneo Challengers 05/05/2024</a></li>
        <li><a href="/static/docs/ludicamp/2023-03-25-26/Regolamento-Torneo-Wingspan.pdf?q=0">Regolamento Torneo Wingspan 26/03/2023</a></li>
        <li><a href="/static/docs/ludicamp/2022-09-17-18/Regolamento-Torneo-Nome-in-Codice.pdf?q=0">Regolamento Torneo Nome in Codice 17/09/2022</a></li>
        <li><a href="/static/docs/ludicamp/2022-09-17-18/Regolamento-Torneo-Carcassonne.pdf?q=0">Regolamento Torneo Carcassonne 18/09/2022</a></li>
        <li><a href="/static/docs/ludicamp/2019-12-01/Regolamento-Torneo-Dominion.pdf?q=0">Regolamento Torneo Dominion 2019</a></li>
        <li><a href="/static/docs/ludicamp/2019-12-01/Regolamento-Torneo-Scythe.pdf?q=0">Regolamento Torneo Scythe 2019</a></li>
    </ul>

</section>

{{ footer }}

</body>
</html>
