<html>
<head>
     

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - informative</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section id="games">
    <div class="big-title">
        <h2>Informative</h2>
    </div>

    <p class="centered-text">
        In questa pagina potete trovare informative, documentazioni e regolamenti interni dell'associazione, di libero accesso a tutti.
        <ul>
            <li> <a href="static/docs/AttoCostitutivo.pdf"> Atto Costitutivo</a></li>
            <li> <a href="static/docs/Statuto.pdf"> Statuto</a></li>
            <li> <a href="static/docs/Privacy.pdf"> Informativa Privacy</a></li>
        </ul>
    </p>
    <br>
    <h3>Convocazioni</h3>
    <ul>
        <li><a href="/static/docs/convocazioni/2020/2020-06-18 - Convocazione-Assemblea-Luglio-2020.pdf?q=0">Convocazione Assemblea Luglio 2020</a></li>
        <li><a href="/static/docs/convocazioni/2020/2020-12-07 - Convocazione-Assemblea-Dicembre-2020.pdf?q=0">Convocazione Assemblea Dicembre 2020</a></li>
        <li><a href="/static/docs/convocazioni/2021/2021-11-21 - Convocazione-Assemblea-Dicembre-2021.pdf?q=1">Convocazione Assemblea Dicembre 2021</a></li>
    </ul>
    <br>
    <h3>Regolamenti Ludicamp 2019</h3>
    <ul>
        <li><a href="/static/docs/ludicamp/2022-09-17-18/Regolamento-Torneo-Carcassonne.pdf?q=0">Regolamento Torneo Carcassonne 17-18/09/2022</a></li>
        <li><a href="/static/docs/ludicamp/2019-12-01/Regolamento-Torneo-Dominion.pdf?q=0">Regolamento Torneo Dominion 2019</a></li>
        <li><a href="/static/docs/ludicamp/2019-12-01/Regolamento-Torneo-Scythe.pdf?q=0">Regolamento Torneo Scythe 2019</a></li>
    </ul>

</section>

{{ footer }}

</body>
</html>
