<html>

  <head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - league 2019</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

    <a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <section id="league">
      <section class="league__header">
        <div class="centered-text">
          <h2>Ludimus League 2019</h2>
          <h5>Punteggi & Regolamento</h5>
        </div>
        <p class="centered-text">
          Per la Ludimus League 2019 sono stati selezionati <strong>10 giochi</strong>: <i>8 giochi individuali</i>, dove
          chi
          arriva primo prende più punti degli avversari, e <i>2 giochi collaborativi</i> in cui i componenti della stessa
          squadra
          ottengono lo stesso ammontare di punti.
        </p>
        <br>
        <p class="centered-text"><a href="#league_rules"><strong>Leggi il regolamento ⇢</strong></a></p>
      </section>
      
      <section class="league__points">
        <div class="centered-text">
          <h4>Giochi e tabelle punteggi</h4>
          <p class="centered-text">
            Se siete curiosi di scoprire quali sono i giochi selezionati e punti che vengono assegnati, allora continuate a
            leggere:
          </p>
        </div>
      </section>

      <section class="league__points" id="7wonders"> <!-- 7 Wonders -->
        <div class="container">
          <h3>7 Wonders</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/fR5_q-7pMDmhLP8SPLOwPcUeLVo=/fit-in/246x300/pic860217.jpg" alt="7 wonders">
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 3 a 7</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>23</td>
                    <td>25</td>
                    <td>27</td>
                    <td>29</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>13</td>
                    <td>16</td>
                    <td>18</td>
                    <td>20</td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td>6</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td>6</td>
                    <td>8</td>
                    <td>9</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td>6</td>
                    <td>7</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">6°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <th scope="row">7°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </section>

      <section class="league__points" id="augustus"> <!-- Augustus -->
        <div class="container">
          <h3>Augustus</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/Bm40krQQ33goEe_EWfNqhejwyS4=/fit-in/246x300/pic3532649.jpg" alt="Augustus">
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 6</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>15</td>
                    <td>18</td>
                    <td>20</td>
                    <td>21</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>7</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>5</td>
                    <td>7</td>
                    <td>9</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>4</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">6°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="azul"> <!-- Azul -->
        <div class="container">
          <h3>Azul</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/ql-0-t271LVGqbmWA1gdkIH7WvM=/fit-in/246x300/pic3718275.jpg" alt="Azul">
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>18</td>
                    <td>21</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>8</td>
                    <td>12</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>6</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="biblios"> <!-- Biblios -->
        <div class="container">
          <h3>Biblios</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/iY2jJZZdKJGEyZkE5mJa3pgwehw=/fit-in/246x300/pic759154.jpg" alt="Biblios">
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>17</td>
                    <td>20</td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>7</td>
                    <td>11</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>5</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="carcassonne"> <!-- Carcasonne -->
        <div class="container">
          <h3>Carcassonne</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/IH6ugGHtABoMshU9IpZjruk_cds=/fit-in/246x300/pic2337577.jpg" alt="Carcassonne">
              <p><strong>Durata:</strong> 30-45 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>18</td>
                    <td>21</td>
                    <td>23</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>8</td>
                    <td>12</td>
                    <td>15</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>6</td>
                    <td>9</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="concordia"> <!-- Concordia -->
        <div class="container">
          <h3>Concordia</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/EYd08uZwPaw5EZJEQ4NxYyUsmR8=/fit-in/246x300/pic3453267.jpg" alt="Concordia">
              <p><strong>Durata:</strong> circa 100 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>27</td>
                    <td>30</td>
                    <td>33</td>
                    <td>37</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>11</td>
                    <td>18</td>
                    <td>21</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>10</td>
                    <td>13</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>9</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="hanabi"> <!-- Hanabi -->
        <div class="container">
          <h3>Hanabi</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/yYJCFlLQbtdtZ_0Ke0xteequCMw=/fit-in/246x300/pic2007286.jpg" alt="Hanabi">
              <p><strong>Durata:</strong> circa 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Unica squadra</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Punti raggiunti</th>
                    <th scope="col">Punteggio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td><i>25 punti</i></td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td><i>21-24 punti</i></td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td><i>16-20 punti</i></td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td><i>11-15 punti</i></td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td><i>6-10 punti</i></td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">6°</th>
                    <td><i>0-5 punti</i></td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="nome_in_codice"> <!-- Nome in codice -->
        <div class="container">
          <h3>Nome in Codice</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/j3KnNONTvPaOqyY_pwhS9C9s5bk=/fit-in/246x300/pic2582929.jpg" alt="Nome in Codice">
              <p><strong>Durata:</strong> circa 15 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 8+ divisi in 2 squadre</p>
              <p><strong>Punteggio:</strong> A squadre</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <tbody>
                  <tr>
                    <th scope="row">🥇 squadra</th>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈 squadra</th>
                    <td>7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="patchwork"> <!-- Patchwork -->
        <div class="container">
          <h3>Patchwork</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/WPQjScMXWzXotrdyRte5Nw78xdQ=/fit-in/246x300/pic2270442.jpg" alt="Patchwork">
              <p><strong>Durata:</strong> 15-30 minuti</p>
              <p><strong>Numero giocatori:</strong> 2</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <tbody>
                  <tr>
                    <th scope="row">🥇 giocatore</th>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈 giocatore</th>
                    <td>8</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="ticket_to_ride"> <!-- Ticket to Ride -->
        <div class="container">
          <h3>Ticket to Ride</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/-7kWI_TKVJ9M3DLFdPTfky18324=/fit-in/246x300/pic38668.jpg" alt="Ticket to Ride">
              <p><strong>Durata:</strong> 30-60 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-hoverable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">🥇</th>
                    <td>20</td>
                    <td>23</td>
                    <td>25</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <th scope="row">🥈</th>
                    <td>8</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                  </tr>
                  <tr>
                    <th scope="row">🥉</th>
                    <td></td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>7</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>
      
      <section class="league__rules" id="league_rules">
        <div class="container">
          {{ league_rules }}
        </div>
      </section>
    </section>


    {{ footer }}

  </body>

</html>