<html>

  <head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - league 2019</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

    <a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <section id="league">
      <section class="league__header">
        <div class="centered-text">
          <h2>Ludimus League 2019</h2>
          <h5>Punteggi & Regolamento</h5>
        </div>
        <p class="centered-text">
          La Ludimus League 2019 è un torneo che si terrà nei mesi di <strong>gennaio, febbraio e marzo 2019</strong>.
        </p>
        <br>
      </section>
      
      <section class="league__points">
        <div class="centered-text">
          <h4>Giochi e tabelle punteggi</h4>
          <p>
            Per la Ludimus League 2019 sono stati selezionati <strong>10 giochi</strong>: <i>8 giochi individuali</i>, dove
            chi
            arriva primo prende più punti degli avversari, e <i>2 giochi collaborativi</i> in cui i componenti della stessa
            squadra
            ottengono lo stesso ammontare di punti.
          </p>
          <p>
            Se siete curiosi di scoprire quali sono i giochi selezionati e punti che vengono assegnati, allora continuate a
            leggere:
          </p>
          {{ league_points }}
        </div>
      </section>
      
      <section class="league__rules">
        <div class="container">
          {{ league_rules }}
        </div>
      </section>
    </section>


    {{ footer }}

  </body>

</html>