<html>

  <head>
	{{ google_analytics }}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ludimus league 2019-20</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
	<meta property="og:description" content="Ludimus League: il campionato di giochi da tavolo a Trento e Rovereto" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="./style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

	<section id="league">
		<section class="league__header">
			<div>
				<h2>Ludimus League 2019-20</h2>
			</div>
			<p class="centered-text">
				La Ludimus League 2019-20 è un campionato che si terrà dal <strong>30 settembre 2019</strong> al <strong>26 marzo 2020</strong>.
			</p>
			<br>
			<p class="centered-text">
				Partecipare è semplicissimo: basta giocare ai <a href="/league-rules.html#league_games">15 giochi</a> selezionati per le nostre serate a
				<strong>Trento</strong> e <strong>Rovereto</strong> e vincerai fantastici <a href="#prizes">premi</a>.
			</p>
			<br>
			<p class="centered-text">
				<a href="/league-rules.html"> <strong>Scopri i giochi selezionati ⇢</strong> </a>
			</p>
		</section>

		<section class="league__ranking" id="ranking">
			<h4 class="centered-text">Classifica</h4>
			{{ league_ranking }}
		</section>
		
		<section class="league__prizes" id="prizes">
			<h4 class="centered-text">Premi</h4>
			<div class="container">
				<div class="card-deck">
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/First.png" alt="Primo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">Modena Play 2020 + Biglietti concerto + Buono 10€</h5>
							<div class="card-text">Viaggio ed ingresso alla fiera Modena Play 2020 + 2 biglietti per un concerto presso Smart Lab <i>(artista e dettagli verranno annunciati prossimamente)</i> + 1 buono da 10€ spendibile presso il Simposio Bar Ristorante di Trento</div>
						</div>
					</div>
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/Second.png" alt="Secondo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">Buono 15€ giochi da tavolo + 2 Buoni 10€ </h5>
							<div class="card-text">1 Buono da 15€ spendibile per l'acquisto di giochi da tavolo + 1 buono da 10€ spendibile presso il Simposio Bar Ristorante di Trento + 1 buono da 10€ spendibile presso Smart Lab a Rovereto</div>
						</div>
					</div>
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/Third.png" alt="Terzo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">Tazza Ludimus + 2 Buoni 10€</h5>
							<div class="card-text">Esclusiva tazza Ludimus + 1 buono da 10€ spendibile presso il Simposio Bar Ristorante di Trento + 1 buono da 10€ spendibile presso Smart Lab a Rovereto</div>
						</div>
					</div>
				</div>
				<div class="centered-text">
					<h3>Tutti possono vincere!</h3>
					<p>
						Tutti i concorrenti, <i>esclusi i tre primi classificati</i>, parteciperanno automaticamente
						alla <strong>lotteria di fine League</strong> che assegnerà <strong>esclusivi gadget marchiati Ludimus</strong> ai fortunati estratti.
					</p>
					<p class="centered-text">
						<a href="/league-rules.html#league_rules"> <strong>Leggi il regolamento ⇢</strong> </a>
					</p>
				</div>
			</div>
		</section>
		
	</section>
	
	{{ footer }}

  </body>

</html>