<html>

  <head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - league 2019</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

    <a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <section id="league">
      <section class="league__header">
        <div class="centered-text">
          <a href="/league.html"><h2>Ludimus League 2019-20</h2></a>
          <h5>Punteggi & Regolamento</h5>
        </div>
        <p class="centered-text">
          Per la Ludimus League 2019-20 sono stati selezionati <strong>15 giochi</strong>: <i>8 giochi individuali</i>, dove
          chi
          arriva primo prende più punti degli avversari, e <i>2 giochi collaborativi</i> in cui i componenti della stessa
          squadra
          ottengono lo stesso ammontare di punti.
        </p>
        <br>
        <p class="centered-text">
          Per ciascuno dei quindici giochi potrai registrare una singola partita, che determinerà i punti che guadagnerai ai fini
          della classifica. Hai però <strong>tre jolly</strong> a cui ricorrere per poter rigiocare ad un gioco e tenere il punteggio migliore o
          per giocare ad un gioco al di fuori della serata in cui è stato selezionato.
        </p>
        <br>
        <p class="centered-text"><a href="#league_rules"><strong>Leggi il regolamento per i dettagli⇢</strong></a></p>
      </section>
      
      <section class="league__points" id="league_games">
        <div class="centered-text">
          <h4>Giochi e tabelle punteggi</h4>
        </div>
      </section>

      <section class="league__points" id="7_wonders_duel"> <!-- 7 Wonders Duel -->
        <div class="container">
          <h3>7 Wonders Duel</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/hWxcNzC1olqP42dwYGjwW5qGQAs=/fit-in/246x300/pic3376065.jpg" alt="7 Wonders Duel ">
              <p></p>
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> 2</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">1° giocatore</th>
                    <td>18</td>
                  </tr>
                  <tr>
                    <th scope="row">2° giocatore</th>
                    <td>8</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="azul"> <!-- Azul -->
        <div class="container">
          <h3>Azul</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/ql-0-t271LVGqbmWA1gdkIH7WvM=/fit-in/246x300/pic3718275.jpg" alt="Azul">
              <p></p>
              <p><strong>Durata:</strong> 30-45 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>18</td>
                    <td>21</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>8</td>
                    <td>12</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>6</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="biblios"> <!-- Biblios -->
        <div class="container">
          <h3>Biblios</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/iY2jJZZdKJGEyZkE5mJa3pgwehw=/fit-in/246x300/pic759154.jpg" alt="Biblios">
              <p></p>
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>17</td>
                    <td>20</td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>7</td>
                    <td>11</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>5</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="carcassonne"> <!-- Carcasonne -->
        <div class="container">
          <h3>Carcassonne</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/IH6ugGHtABoMshU9IpZjruk_cds=/fit-in/246x300/pic2337577.jpg" alt="Carcassonne">
              <p></p>
              <p><strong>Durata:</strong> 30-45 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>18</td>
                    <td>21</td>
                    <td>23</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>8</td>
                    <td>12</td>
                    <td>15</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>6</td>
                    <td>9</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>5</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="catan"> <!-- Catan -->
        <div class="container">
          <h3>Catan</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/aozRplCSOpRucLxSuClX2odEUBQ=/fit-in/246x300/pic2419375.jpg" alt="Catan">
              <p></p>
              <p><strong>Durata:</strong> 60 minuti</p>
              <p><strong>Numero giocatori:</strong> 3-4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>25</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>14</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td>7</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="coloretto"> <!-- Coloretto -->
        <div class="container">
          <h3>Coloretto</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/QzpZ5-5x1u8cVmH3Md-0P5rVNOM=/fit-in/246x300/pic149765.jpg" alt="Coloretto">
              <p></p>
              <p><strong>Durata:</strong>60 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale. <i>2 partite, il risultato finale è la somma dei due punteggi</i> </p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>17</td>
                    <td>20</td>
                    <td>22</td>
                    <td>24</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>7</td>
                    <td>11</td>
                    <td>14</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>5</td>
                    <td>8</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>7</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="dixit"> <!-- Dixit -->
        <div class="container">
          <h3>Dixit</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/pOiJxM-COUIpG4Rsb4vGdHH4894=/fit-in/246x300/pic3483909.jpg" alt="Dixit ">
              <p></p>
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> 3-12</p>
              <p><strong>Punteggio:</strong> Individuale. </p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">1° giocatore</th>
                    <td>14</td>
                  </tr>
                  <tr>
                    <th scope="row">2° giocatore</th>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="kingdomino"> <!-- Kingdomino -->
        <div class="container">
          <h3>Kingdomino</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/D3DLTVXuNzL8n2p9BT_2alSfbZs=/fit-in/246x300/pic3132685.png" alt="Kingdomino ">
              <p></p>
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> 2</p>
              <p><strong>Punteggio:</strong> Individuale. <i>2 partite, il risultato è la somma dei due punteggi</i> </p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">1° giocatore</th>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">2° giocatore</th>
                    <td>8</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="nome_in_codice"> <!-- Nome in codice -->
        <div class="container">
          <h3>Nome in Codice</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/j3KnNONTvPaOqyY_pwhS9C9s5bk=/fit-in/246x300/pic2582929.jpg" alt="Nome in Codice">
              <p></p>
              <p><strong>Durata:</strong> circa 30 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 8+ divisi in 2 squadre</p>
              <p><strong>Punteggio:</strong> A squadre, al meglio di <i>3 manches</i></p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">1^ squadra</th>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th scope="row">2^ squadra</th>
                    <td>7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="orlean"> <!-- Orléans -->
        <div class="container">
          <h3>Orléans</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/KpipA6QroEgHFbgcVBNU4DVBIJ4=/fit-in/246x300/pic2578828.png" alt="Orléans">
              <p></p>
              <p><strong>Durata:</strong> 90 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>25</td>
                    <td>30</td>
                    <td>33</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>11</td>
                    <td>18</td>
                    <td>21</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>10</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>9</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="pandemia"> <!-- Pandemia -->
        <div class="container">
          <h3>Pandemia</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/cTrAWasNHyKMcNs8Zrv5O7sKS6M=/fit-in/246x300/pic1534148.jpg" alt="Pandemia">
              <p></p>
              <p><strong>Durata:</strong> 45 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Unica squadra</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Tipo di vittoria/sconfitta</th>
                    <th scope="col">Punteggio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td><i>Vittoria eroica</i></td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td><i>Vittoria normale</i></td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td><i>Vittoria intro</i></td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td><i>Sconfitta eroica</i></td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td><i>Sconfitta normale</i></td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">6°</th>
                    <td><i>Sconfitta intro</i></td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="pozioni_esplosive"> <!-- Pozioni Esplosive -->
        <div class="container">
          <h3>Pozioni Esplosive</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/GU269J4mE0C6zOBdeQf0nhfwl04=/fit-in/246x300/pic2630294.png" alt="Pozioni Esplosive">
              <p></p>
              <p><strong>Durata:</strong> 30-45 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>18</td>
                    <td>21</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>9</td>
                    <td>12</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>6</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="quadropolis"> <!-- Quadropolis -->
        <div class="container">
          <h3>Quadropolis</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/BMUcxCZM_AikQ7uXeuDg43RZIWo=/fit-in/246x300/pic2840020.jpg" alt="Quadropolis">
              <p></p>
              <p><strong>Durata:</strong> 30-60 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 4</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>21</td>
                    <td>25</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>9</td>
                    <td>14</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>7</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="santorini"> <!-- Santorini -->
        <div class="container">
          <h3>Santorini</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/aGxcEgay9lJY29JXC4WoHMK-eC8=/fit-in/246x300/pic3283110.png" alt="Santorini ">
              <p></p>
              <p><strong>Durata:</strong> 30 minuti</p>
              <p><strong>Numero giocatori:</strong> 2</p>
              <p><strong>Punteggio:</strong> Individuale, <i>al meglio di 3 manches</i> </p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">1° giocatore</th>
                    <td>17</td>
                  </tr>
                  <tr>
                    <th scope="row">2° giocatore</th>
                    <td>8</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>

      <section class="league__points" id="ticket_to_ride"> <!-- Ticket to Ride -->
        <div class="container">
          <h3>Ticket to Ride: Europe</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="https://cf.geekdo-images.com/itemrep/img/Ad3QYcq8XgtTfF8T3swpzn70zeE=/fit-in/246x300/pic66668.jpg" alt="Ticket to Ride: Europe">
              <p></p>
              <p><strong>Durata:</strong> 30-60 minuti</p>
              <p><strong>Numero giocatori:</strong> da 2 a 5</p>
              <p><strong>Punteggio:</strong> Individuale</p>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1°</th>
                    <td>20</td>
                    <td>23</td>
                    <td>25</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <th scope="row">2°</th>
                    <td>8</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                  </tr>
                  <tr>
                    <th scope="row">3°</th>
                    <td></td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <th scope="row">4°</th>
                    <td></td>
                    <td></td>
                    <td>7</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">5°</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
        </div>
      </section>
      
      <section class="league__rules" id="league_rules">
        <div class="container">
          {{ league_rules }}
        </div>
      </section>
    </section>


    {{ footer }}

  </body>

</html>