<html>

  <head>
	{{ google_analytics }}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ludimus league 2019-20</title>
	<meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />
	<meta property="og:description" content="Ludimus League: il campionato di giochi da tavolo a Trento e Rovereto" />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

	<link rel="stylesheet" href="./style.css?t={{ hash }}">

	<link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

	<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

	<section id="league">
		<section class="league__header">
			<div>
				<h2>Ludimus League 2019-20</h2>
			</div>
			<p class="centered-text">
				La Ludimus League 2019-20 è un campionato che si terrà a partire dal <strong>30 settembre 2019</strong>.
			</p>
			<br>
			<p class="centered-text">
				Partecipare è semplicissimo: basta giocare ai <a href="/league_rules.html#league_games">15 giochi</a> selezionati per le nostre serate a
				<strong>Trento</strong> e <strong>Rovereto</strong> e vincerai fantastici <a href="#prizes">premi</a>.
			</p>
			<br>
			<p class="centered-text">
				<a href="/league_rules.html"> <strong>Scopri i giochi selezionati ⇢</strong> </a>
			</p>
		</section>

		<section class="league__ranking" id="ranking">
			<h4 class="centered-text">Classifica</h4>
			{{ league_ranking }}
		</section>
		
		<section class="league__prizes" id="prizes">
			<h4 class="centered-text">Premi</h4>
			<div class="container">
				<div class="card-deck">
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/First.png" alt="Primo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">Modena Play 2019 + Biglietti Dutch Nazari + Buono 10€</h5>
							<div class="card-text">Viaggio ed ingresso alla fiera Modena Play 2019 + 2 biglietti per il concerto di Dutch Nazari del 05 aprile 2019 a Smart Lab, Centro Giovani Rovereto + buono da 10€ spendibile presso il Simposio Bar Ristorante</div>
						</div>
					</div>
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/Second.png" alt="Secondo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">Tazza Ludimus + 2 Buoni 10€</h5>
							<div class="card-text">Esclusiva tazza Ludimus + 1 Buono da 10€ spendibile presso il Simposio Bar Ristorante + 1 Buono da 10€ spendibile presso Smart Lab, Centro Giovani Rovereto</div>
						</div>
					</div>
					<div class="card text-center">
						<div class="card-image">
							<img src="../static/img/league/Third.png" alt="Terzo premio">
						</div>
						<div class="card-body">
							<h5 class="card-title">2 Buoni 10€</h5>
							<div class="card-text">1 Buono da 10€ spendibile presso il Simposio Bar Ristorante + 1 Buono da 10€ spendibile presso Smart Lab, Centro Giovani Rovereto</div>
						</div>
					</div>
				</div>
				<div class="centered-text">
					<h3>Tutti possono vincere!</h3>
					<p>
						Tutti i concorrenti, <i>esclusi i tre primi classificati</i>, parteciperanno automaticamente
						alla <strong>lotteria di fine League</strong> che assegnerà <strong>due magliette Ludimus</strong> ai fortunati estratti
					</p>
					<p class="centered-text">
						<a href="/league_rules.html#league_rules"> <strong>Leggi il regolamento ⇢</strong> </a>
					</p>
				</div>
			</div>
		</section>

		<section class="legue__calendar" id="calendar">
			<h4>Calendario</h4>
			<div class="centered-text">
				<p>Ad ogni appuntamento potrai giocare ad uno o più dei giochi selezionati, ma ricorda che ai
					fini della classifica varrà
					solo una delle partite che avrai giocato a ciascuno di essi. Hai <strong>tre jolly</strong> per poter rigiocare ad un
					gioco o per
					giocare ad un gioco al di fuori della serata in cui è stato selezionato: usali bene!
				</p>
				<p class="centered-text">
					<a href="/league_rules.html#league_rules"> <strong>Vedi il regolamento per i dettagli ⇢</strong> </a>
				</p>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h5>Trento</h5>
						<p><strong>21/01</strong> ‒ <a href="/league_rules.html#azul">Azul</a> e <a href="/league_rules.html#ticket_to_ride">Ticket to Ride: Europe</a></p>
						<p><strong>28/01</strong> ‒ <a href="/league_rules.html#ticket_to_ride">Ticket to Ride: Europe</a> e <a href="/league_rules.html#augustus">Augustus</a></p>
						<p><strong>04/02</strong> ‒ <a href="/league_rules.html#augustus">Augustus</a> e <a href="/league_rules.html#nome_in_codice">Nome in Codice</a></p>
						<p><strong>11/02</strong> ‒ <a href="/league_rules.html#nome_in_codice">Nome in Codice</a> e <a href="/league_rules.html#7wonders">7 Wonders</a></p>
						<p><strong>18/02</strong> ‒ <a href="/league_rules.html#7wonders">7 Wonders</a> e <a href="/league_rules.html#concordia">Concordia</a></p>
						<p><strong>25/02</strong> ‒ <a href="/league_rules.html#concordia">Concordia</a> e <a href="/league_rules.html#hanabi">Hanabi</a></p>
						<p><strong>04/03</strong> ‒ <a href="/league_rules.html#hanabi">Hanabi</a> e <a href="/league_rules.html#carcassonne">Carcassonne</a></p>
						<p><strong>11/03</strong> ‒ <a href="/league_rules.html#carcassonne">Carcassonne</a> e <a href="/league_rules.html#patchwork">Patchwork</a></p>
						<p><strong>18/03</strong> ‒ <a href="/league_rules.html#patchwork">Patchwork</a> e <a href="/league_rules.html#biblios">Biblios</a></p>
						<p><strong>25/03</strong> ‒ <a href="/league_rules.html#biblios">Biblios</a> e <a href="/league_rules.html#azul">Azul</a></p>
					</div>
					<div class="col-md-6">
						<h5>Rovereto</h5>
						<p><strong>31/01</strong> ‒ <a href="/league_rules.html#biblios">Biblios</a>, <a href="/league_rules.html#concordia">Concordia</a>, <a href="/league_rules.html#hanabi">Hanabi</a>
							e <a href="/league_rules.html#patchwork">Patchwork</a></p>
						<p><strong>14/02</strong> ‒ <a href="/league_rules.html#carcassonne">Carcassonne</a>, <a href="/league_rules.html#concordia">Concordia</a>, <a href="/league_rules.html#hanabi">Hanabi</a>
							e <a href="/league_rules.html#patchwork">Patchwork</a></p>
						<p><strong>28/02</strong> ‒ <a href="/league_rules.html#augustus">Augustus</a>, <a href="/league_rules.html#azul">Azul</a>, <a href="/league_rules.html#biblios">Biblios</a>
							e <a href="/league_rules.html#carcassonne">Carcassonne</a></p>
						<p><strong>14/03</strong> ‒ <a href="/league_rules.html#7wonders">7 Wonders</a>, <a href="/league_rules.html#azul">Azul</a>, <a href="/league_rules.html#nome_in_codice">Nome
								in Codice</a> e <a href="/league_rules.html#ticket_to_ride">Ticket to Ride: Europe</a></p>
						<p><strong>28/03</strong> ‒ <a href="/league_rules.html#7wonders">7 Wonders</a>, <a href="/league_rules.html#augustus">Augustus</a>, <a href="/league_rules.html#nome_in_codice">Nome
								in Codice</a> e <a href="/league_rules.html#ticket_to_ride">Ticket to Ride: Europe</a></p>
					</div>
				</div>
			</div>
		</section>
		
	</section>
	
	{{ footer }}

  </body>

</html>