<html>
<head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - requisiti maglietta</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section id="tshirt">
    <div>
        <h2>Bando Maglietta Ludimus 2020/2021</h2>
    </div>

    <br>
    <br>

    <p>Candidature aperte fino al <strong>31/08/2020</strong> per la realizzazione della grafica della maglietta di Ludimus per l'anno sociale 2020/2021.</p>
    <p>Gli interessati sono invitati a candidarsi inviando il proprio portfolio e/o bozzetto all'indirizzo email <a href="mailto:ludimustrento@gmail.com">ludimustrento@gmail.com</a> entro e non oltre il <strong>31/08/2020</strong></p>

    <p>Una commissione composta da organizzatori degli eventi Ludimus selezionerà poi l'artista in base alle candidature entro il <strong>04/09/2020</strong>, notificando il vincitore per mezzo dello stesso indirizzo email usato per inviare la propria candidatura.</p>

    <p>L'artista dovrà poi consegnare una bozza preliminare entro il 18/09/2020, e dopo un confronto con la commissione di Ludimus (in cui l'artista mantiene comunque il controllo creativo) sarà tenuto ad approntare la versione definitiva entro il 02/10/2020.</p>

    <h3>👕 Requisiti</h3>

    <p>La grafica dovrà soddisfare i seguenti requisiti:</p>
    <p class="centered-text">
        <ul>
            <li>il tema dev'essere il mondo dei giochi da tavolo</li>
            <li>il disegno deve contenere la scritta "ludimus" (capitalizzata a piacere)</li>
            <li>è opzionale l'inserimento del logo di Ludimus</li>
            <li>consegna in formato vettoriale</li>
            <li>disegno a due colori, adatto alla stampa su magliette a tinta unita</li>
            <li> i colori del disegno sono a scelta dell'artista, che dovrà considerare la compatibilità con il <a href="https://www.gildan.com/mens-heavy-cotton-adult-t-shirt/">colore azzurro (maglietta Gildan colore Sapphire)</a> della maglietta degli organizzatori, e altri quattro colori (che l'artista può scegliere tra i <a href="https://www.gildan.com/mens-heavy-cotton-adult-t-shirt/">colori Gildan disponibili</a>) tra i quali i soci sceglieranno il colore della maglietta Ludimus 2020/2021. I colori del disegno possono essere diversi a seconda del colore di sfondo della maglietta.</li>
        </ul>
    </p>

    <p>Vincolato alla consegna della grafica definitiva rispettante i requisiti, l'artista vincitore riceverà un compenso di 100€ netti a fronte di fattura o ritenuta d'acconto.
        Per ogni domanda o chiarimento contattateci all'indirizzo <a href="mailto:ludimustrento@gmail.com">ludimustrento@gmail.com</a>.</p>

</section>

{{ footer }}

</body>
</html>
