<html>
<head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - requisiti maglietta</title>
    <meta property="og:image" content="https://dl.dropbox.com/s/83rbvtvzos9rapo/logo.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="./style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

<section>
    <div>
        <h2>Requisiti maglietta</h2>
    </div>

    <p>La maglietta Ludimus viene realizzata nuova all'inizio di ogni anno associativo. Questi sono i requisiti da rispettare per il disegno:</p>

    <p class="centered-text">
        <ul>
            <li>Il disegno deve avere due colori a scelta</li>
            <li>Formato vettoriale</li>
            <li>Il disegno deve stare bene sul colore azzurro della maglietta di chi spiega</li>
            <li>L'artista può scegliere il colore del secondo tipo di maglietta </li>
            <li>Il disegno deve contenere la scritta "Ludimus"</li>
            <li>Il disegno deve essere relativo al mondo dei giochi da tavolo</li>
        </ul>
    </p>

</section>

{{ footer }}

</body>
</html>
