<html>

  <head>
    {{ google_analytics }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ludimus - Evento Castello Buonconsiglio</title>
    <meta property="og:image" content="https://www.facebook.com/events/376950943283802/" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Raleway|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="../style.css?t={{ hash }}">

    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-16x16.png" sizes="16x16" />

  </head>

  <body>

    <a href="/"><img class="go-back" src="../static/img/logo.svg" alt="ludimus"></a>

    <section>
      <section>
        <div class="centered-text">
          <a href="https://www.facebook.com/events/376950943283802/"><h2>Ludimus ❤️ Castello del Buonconsiglio </h2></a>
          <h5>Sabato 25 luglio, dalle 14:30 alle 20:00</h5>
        </div>
        <p class="centered-text">
            Vieni a giocare al Castello del Buonconsiglio, e prova l'emozione di giocare all'interno dei giardini del castello!
        </p>
        <br>
        <p class="centered-text"><a href="https://ludimus-castello-buonconsiglio-25072020.eventbrite.it"><strong>Prenota un tavolo⇢</strong></a></p>
      </section>

      <section>
        <div class="container">
          {{ buonconsiglio_event_details }}
        </div>
      </section>

    </section>

    {{ footer }}

  </body>

</html>